@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(236, 226, 226);
    width: 355px;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px;
    font-weight: bold;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 23px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: aquamarine; */
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: blueviolet; */
    height: 58vh;
    width: 70vw;
    margin: 130px auto;
    /* padding-left: 63px; */
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

.hello {
    font-size: 60px;
}

.name {
    font-size: 53px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}

.about {
    font-size: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.moreabout {
    font-size: 22px;
    margin-top: 23px;
}

.button {
    margin-top: 35px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(236, 226, 226);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 17px;
    padding: 8px 20px;
    margin: 10px 50px;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(236, 226, 226);
}

.devpic img {
    width: 380px;
    height: 58vh;
}



/* CONACT FORM */


.contactform {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 130px 0 0 40px;
    font-weight: 600;
}

.contactform h1 {
    font-family: 'Noto Sans', sans-serif;
    /* padding: 4px 0; */
    /* text-align: center; */
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form {
    margin-top: 10px;
}

.contactform form div input {
    width: 20vw;
    border-radius: 3px;
    margin-top: 6px;
    padding: 4px;
}

#emailHelp {
    font-size: 12px;
    margin-left: 10px;
    color: cadetblue;
}

#form-check {
    flex-direction: row;
    margin-bottom: 10px;
}

#form-check input {
    width: 25px;
    margin: 3px 0
}

#formname {
    margin-bottom: 14px;
}



/* BLOG PAGE */


.blogitem {
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    margin: 25px;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
}



/* ABOUT ME PAGE */


.intro h2 {
    margin: 12px;
}

.intro p {
    margin: 12px;
}

.skillitem {
    display: flex;
    align-items: center;
}

.skillcontainer {
    padding: 12px;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: rgb(105, 193, 27);
    border: 2px solid black;
}

.hundred {
    width: 300px;
    background-color: chocolate;
}

.seventy {
    width: 215px;
    background-color: rgb(247, 98, 247);
}

.fifty {
    width: 150px;
    background-color: rgb(117, 40, 55);
}

